.modal-overlay {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-box {
    display: block;
    background: black;
    position: relative;
    top: -20%;    
    padding: 1rem;
    border-radius: 1rem;
    color: white; 
    border: 1px solid #b0c6ff;
    max-width: 60%;
    min-width: 40%;
    font-size: 16px;
  }

  .modal-close{
    width: 46px;
    height: 45px;
    background: #131313;
    border: 1px solid #b0c6ff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -22px;
    right: -23px;
    color: white;
    z-index: 100;
  }

  .box{
    margin-top: 10px;
  }

  .boxHeader{
    font-size: 26px;
  }

  .boxBold{
    font-weight: bold;
  }

  .boxItalic{
    font-style: italic;
  }